<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="search">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Data Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hero of data   | search:searchText ; let i = index">
        <td>{{i}}</td>
        <td>{{hero}}</td>
       
      </tr>
      </tbody>
    </table>
  </div>
</div>
